backend_learning/Task1/app.js
backend_learning/Task1/package-lock.json
backend_learning/Task1/package.json
backend_learning/Task1/controllers/product.js
backend_learning/Task1/node_modules/.package-lock.json
backend_learning/Task1/node_modules/.bin/ejs
backend_learning/Task1/node_modules/.bin/ejs.cmd
backend_learning/Task1/node_modules/.bin/ejs.ps1
backend_learning/Task1/node_modules/.bin/jake
backend_learning/Task1/node_modules/.bin/jake.cmd
backend_learning/Task1/node_modules/.bin/jake.ps1
backend_learning/Task1/node_modules/.bin/mkdirp
backend_learning/Task1/node_modules/.bin/mkdirp.cmd
backend_learning/Task1/node_modules/.bin/mkdirp.ps1
backend_learning/Task1/node_modules/ansi-styles/index.d.ts
backend_learning/Task1/node_modules/ansi-styles/index.js
backend_learning/Task1/node_modules/ansi-styles/license
backend_learning/Task1/node_modules/ansi-styles/package.json
backend_learning/Task1/node_modules/ansi-styles/readme.md
backend_learning/Task1/node_modules/append-field/.npmignore
backend_learning/Task1/node_modules/append-field/index.js
backend_learning/Task1/node_modules/append-field/LICENSE
backend_learning/Task1/node_modules/append-field/package.json
backend_learning/Task1/node_modules/append-field/README.md
backend_learning/Task1/node_modules/append-field/lib/parse-path.js
backend_learning/Task1/node_modules/append-field/lib/set-value.js
backend_learning/Task1/node_modules/append-field/test/forms.js
backend_learning/Task1/node_modules/async/all.js
backend_learning/Task1/node_modules/async/allLimit.js
backend_learning/Task1/node_modules/async/allSeries.js
backend_learning/Task1/node_modules/async/any.js
backend_learning/Task1/node_modules/async/anyLimit.js
backend_learning/Task1/node_modules/async/anySeries.js
backend_learning/Task1/node_modules/async/apply.js
backend_learning/Task1/node_modules/async/applyEach.js
backend_learning/Task1/node_modules/async/applyEachSeries.js
backend_learning/Task1/node_modules/async/asyncify.js
backend_learning/Task1/node_modules/async/auto.js
backend_learning/Task1/node_modules/async/autoInject.js
backend_learning/Task1/node_modules/async/bower.json
backend_learning/Task1/node_modules/async/cargo.js
backend_learning/Task1/node_modules/async/cargoQueue.js
backend_learning/Task1/node_modules/async/CHANGELOG.md
backend_learning/Task1/node_modules/async/compose.js
backend_learning/Task1/node_modules/async/concat.js
backend_learning/Task1/node_modules/async/concatLimit.js
backend_learning/Task1/node_modules/async/concatSeries.js
backend_learning/Task1/node_modules/async/constant.js
backend_learning/Task1/node_modules/async/detect.js
backend_learning/Task1/node_modules/async/detectLimit.js
backend_learning/Task1/node_modules/async/detectSeries.js
backend_learning/Task1/node_modules/async/dir.js
backend_learning/Task1/node_modules/async/doDuring.js
backend_learning/Task1/node_modules/async/doUntil.js
backend_learning/Task1/node_modules/async/doWhilst.js
backend_learning/Task1/node_modules/async/during.js
backend_learning/Task1/node_modules/async/each.js
backend_learning/Task1/node_modules/async/eachLimit.js
backend_learning/Task1/node_modules/async/eachOf.js
backend_learning/Task1/node_modules/async/eachOfLimit.js
backend_learning/Task1/node_modules/async/eachOfSeries.js
backend_learning/Task1/node_modules/async/eachSeries.js
backend_learning/Task1/node_modules/async/ensureAsync.js
backend_learning/Task1/node_modules/async/every.js
backend_learning/Task1/node_modules/async/everyLimit.js
backend_learning/Task1/node_modules/async/everySeries.js
backend_learning/Task1/node_modules/async/filter.js
backend_learning/Task1/node_modules/async/filterLimit.js
backend_learning/Task1/node_modules/async/filterSeries.js
backend_learning/Task1/node_modules/async/find.js
backend_learning/Task1/node_modules/async/findLimit.js
backend_learning/Task1/node_modules/async/findSeries.js
backend_learning/Task1/node_modules/async/flatMap.js
backend_learning/Task1/node_modules/async/flatMapLimit.js
backend_learning/Task1/node_modules/async/flatMapSeries.js
backend_learning/Task1/node_modules/async/foldl.js
backend_learning/Task1/node_modules/async/foldr.js
backend_learning/Task1/node_modules/async/forEach.js
backend_learning/Task1/node_modules/async/forEachLimit.js
backend_learning/Task1/node_modules/async/forEachOf.js
backend_learning/Task1/node_modules/async/forEachOfLimit.js
backend_learning/Task1/node_modules/async/forEachOfSeries.js
backend_learning/Task1/node_modules/async/forEachSeries.js
backend_learning/Task1/node_modules/async/forever.js
backend_learning/Task1/node_modules/async/groupBy.js
backend_learning/Task1/node_modules/async/groupByLimit.js
backend_learning/Task1/node_modules/async/groupBySeries.js
backend_learning/Task1/node_modules/async/index.js
backend_learning/Task1/node_modules/async/inject.js
backend_learning/Task1/node_modules/async/LICENSE
backend_learning/Task1/node_modules/async/log.js
backend_learning/Task1/node_modules/async/map.js
backend_learning/Task1/node_modules/async/mapLimit.js
backend_learning/Task1/node_modules/async/mapSeries.js
backend_learning/Task1/node_modules/async/mapValues.js
backend_learning/Task1/node_modules/async/mapValuesLimit.js
backend_learning/Task1/node_modules/async/mapValuesSeries.js
backend_learning/Task1/node_modules/async/memoize.js
backend_learning/Task1/node_modules/async/nextTick.js
backend_learning/Task1/node_modules/async/package.json
backend_learning/Task1/node_modules/async/parallel.js
backend_learning/Task1/node_modules/async/parallelLimit.js
backend_learning/Task1/node_modules/async/priorityQueue.js
backend_learning/Task1/node_modules/async/queue.js
backend_learning/Task1/node_modules/async/race.js
backend_learning/Task1/node_modules/async/README.md
backend_learning/Task1/node_modules/async/reduce.js
backend_learning/Task1/node_modules/async/reduceRight.js
backend_learning/Task1/node_modules/async/reflect.js
backend_learning/Task1/node_modules/async/reflectAll.js
backend_learning/Task1/node_modules/async/reject.js
backend_learning/Task1/node_modules/async/rejectLimit.js
backend_learning/Task1/node_modules/async/rejectSeries.js
backend_learning/Task1/node_modules/async/retry.js
backend_learning/Task1/node_modules/async/retryable.js
backend_learning/Task1/node_modules/async/select.js
backend_learning/Task1/node_modules/async/selectLimit.js
backend_learning/Task1/node_modules/async/selectSeries.js
backend_learning/Task1/node_modules/async/seq.js
backend_learning/Task1/node_modules/async/series.js
backend_learning/Task1/node_modules/async/setImmediate.js
backend_learning/Task1/node_modules/async/some.js
backend_learning/Task1/node_modules/async/someLimit.js
backend_learning/Task1/node_modules/async/someSeries.js
backend_learning/Task1/node_modules/async/sortBy.js
backend_learning/Task1/node_modules/async/timeout.js
backend_learning/Task1/node_modules/async/times.js
backend_learning/Task1/node_modules/async/timesLimit.js
backend_learning/Task1/node_modules/async/timesSeries.js
backend_learning/Task1/node_modules/async/transform.js
backend_learning/Task1/node_modules/async/tryEach.js
backend_learning/Task1/node_modules/async/unmemoize.js
backend_learning/Task1/node_modules/async/until.js
backend_learning/Task1/node_modules/async/waterfall.js
backend_learning/Task1/node_modules/async/whilst.js
backend_learning/Task1/node_modules/async/wrapSync.js
backend_learning/Task1/node_modules/async/dist/async.js
backend_learning/Task1/node_modules/async/dist/async.min.js
backend_learning/Task1/node_modules/async/dist/async.mjs
backend_learning/Task1/node_modules/async/internal/applyEach.js
backend_learning/Task1/node_modules/async/internal/asyncEachOfLimit.js
backend_learning/Task1/node_modules/async/internal/awaitify.js
backend_learning/Task1/node_modules/async/internal/breakLoop.js
backend_learning/Task1/node_modules/async/internal/consoleFunc.js
backend_learning/Task1/node_modules/async/internal/createTester.js
backend_learning/Task1/node_modules/async/internal/DoublyLinkedList.js
backend_learning/Task1/node_modules/async/internal/eachOfLimit.js
backend_learning/Task1/node_modules/async/internal/filter.js
backend_learning/Task1/node_modules/async/internal/getIterator.js
backend_learning/Task1/node_modules/async/internal/Heap.js
backend_learning/Task1/node_modules/async/internal/initialParams.js
backend_learning/Task1/node_modules/async/internal/isArrayLike.js
backend_learning/Task1/node_modules/async/internal/iterator.js
backend_learning/Task1/node_modules/async/internal/map.js
backend_learning/Task1/node_modules/async/internal/once.js
backend_learning/Task1/node_modules/async/internal/onlyOnce.js
backend_learning/Task1/node_modules/async/internal/parallel.js
backend_learning/Task1/node_modules/async/internal/promiseCallback.js
backend_learning/Task1/node_modules/async/internal/queue.js
backend_learning/Task1/node_modules/async/internal/range.js
backend_learning/Task1/node_modules/async/internal/reject.js
backend_learning/Task1/node_modules/async/internal/setImmediate.js
backend_learning/Task1/node_modules/async/internal/withoutIndex.js
backend_learning/Task1/node_modules/async/internal/wrapAsync.js
backend_learning/Task1/node_modules/buffer-from/index.js
backend_learning/Task1/node_modules/buffer-from/LICENSE
backend_learning/Task1/node_modules/buffer-from/package.json
backend_learning/Task1/node_modules/buffer-from/readme.md
backend_learning/Task1/node_modules/busboy/.eslintrc.js
backend_learning/Task1/node_modules/busboy/LICENSE
backend_learning/Task1/node_modules/busboy/package.json
backend_learning/Task1/node_modules/busboy/README.md
backend_learning/Task1/node_modules/busboy/.github/workflows/ci.yml
backend_learning/Task1/node_modules/busboy/.github/workflows/lint.yml
backend_learning/Task1/node_modules/busboy/bench/bench-multipart-fields-100mb-big.js
backend_learning/Task1/node_modules/busboy/bench/bench-multipart-fields-100mb-small.js
backend_learning/Task1/node_modules/busboy/bench/bench-multipart-files-100mb-big.js
backend_learning/Task1/node_modules/busboy/bench/bench-multipart-files-100mb-small.js
backend_learning/Task1/node_modules/busboy/bench/bench-urlencoded-fields-100pairs-small.js
backend_learning/Task1/node_modules/busboy/bench/bench-urlencoded-fields-900pairs-small-alt.js
backend_learning/Task1/node_modules/busboy/lib/index.js
backend_learning/Task1/node_modules/busboy/lib/utils.js
backend_learning/Task1/node_modules/busboy/lib/types/multipart.js
backend_learning/Task1/node_modules/busboy/lib/types/urlencoded.js
backend_learning/Task1/node_modules/busboy/test/common.js
backend_learning/Task1/node_modules/busboy/test/test-types-multipart-charsets.js
backend_learning/Task1/node_modules/busboy/test/test-types-multipart-stream-pause.js
backend_learning/Task1/node_modules/busboy/test/test-types-multipart.js
backend_learning/Task1/node_modules/busboy/test/test-types-urlencoded.js
backend_learning/Task1/node_modules/busboy/test/test.js
backend_learning/Task1/node_modules/chalk/index.d.ts
backend_learning/Task1/node_modules/chalk/license
backend_learning/Task1/node_modules/chalk/package.json
backend_learning/Task1/node_modules/chalk/readme.md
backend_learning/Task1/node_modules/chalk/node_modules/has-flag/index.d.ts
backend_learning/Task1/node_modules/chalk/node_modules/has-flag/index.js
backend_learning/Task1/node_modules/chalk/node_modules/has-flag/license
backend_learning/Task1/node_modules/chalk/node_modules/has-flag/package.json
backend_learning/Task1/node_modules/chalk/node_modules/has-flag/readme.md
backend_learning/Task1/node_modules/chalk/node_modules/supports-color/browser.js
backend_learning/Task1/node_modules/chalk/node_modules/supports-color/index.js
backend_learning/Task1/node_modules/chalk/node_modules/supports-color/license
backend_learning/Task1/node_modules/chalk/node_modules/supports-color/package.json
backend_learning/Task1/node_modules/chalk/node_modules/supports-color/readme.md
backend_learning/Task1/node_modules/chalk/source/index.js
backend_learning/Task1/node_modules/chalk/source/templates.js
backend_learning/Task1/node_modules/chalk/source/util.js
backend_learning/Task1/node_modules/color-convert/CHANGELOG.md
backend_learning/Task1/node_modules/color-convert/conversions.js
backend_learning/Task1/node_modules/color-convert/index.js
backend_learning/Task1/node_modules/color-convert/LICENSE
backend_learning/Task1/node_modules/color-convert/package.json
backend_learning/Task1/node_modules/color-convert/README.md
backend_learning/Task1/node_modules/color-convert/route.js
backend_learning/Task1/node_modules/color-name/index.js
backend_learning/Task1/node_modules/color-name/LICENSE
backend_learning/Task1/node_modules/color-name/package.json
backend_learning/Task1/node_modules/color-name/README.md
backend_learning/Task1/node_modules/concat-stream/index.js
backend_learning/Task1/node_modules/concat-stream/LICENSE
backend_learning/Task1/node_modules/concat-stream/package.json
backend_learning/Task1/node_modules/concat-stream/readme.md
backend_learning/Task1/node_modules/core-util-is/LICENSE
backend_learning/Task1/node_modules/core-util-is/package.json
backend_learning/Task1/node_modules/core-util-is/README.md
backend_learning/Task1/node_modules/core-util-is/lib/util.js
backend_learning/Task1/node_modules/ejs/ejs.js
backend_learning/Task1/node_modules/ejs/ejs.min.js
backend_learning/Task1/node_modules/ejs/jakefile.js
backend_learning/Task1/node_modules/ejs/LICENSE
backend_learning/Task1/node_modules/ejs/package.json
backend_learning/Task1/node_modules/ejs/README.md
backend_learning/Task1/node_modules/ejs/usage.txt
backend_learning/Task1/node_modules/ejs/bin/cli.js
backend_learning/Task1/node_modules/ejs/lib/ejs.js
backend_learning/Task1/node_modules/ejs/lib/utils.js
backend_learning/Task1/node_modules/filelist/index.d.ts
backend_learning/Task1/node_modules/filelist/index.js
backend_learning/Task1/node_modules/filelist/jakefile.js
backend_learning/Task1/node_modules/filelist/package.json
backend_learning/Task1/node_modules/filelist/README.md
backend_learning/Task1/node_modules/filelist/node_modules/brace-expansion/index.js
backend_learning/Task1/node_modules/filelist/node_modules/brace-expansion/LICENSE
backend_learning/Task1/node_modules/filelist/node_modules/brace-expansion/package.json
backend_learning/Task1/node_modules/filelist/node_modules/brace-expansion/README.md
backend_learning/Task1/node_modules/filelist/node_modules/brace-expansion/.github/FUNDING.yml
backend_learning/Task1/node_modules/filelist/node_modules/minimatch/LICENSE
backend_learning/Task1/node_modules/filelist/node_modules/minimatch/minimatch.js
backend_learning/Task1/node_modules/filelist/node_modules/minimatch/package.json
backend_learning/Task1/node_modules/filelist/node_modules/minimatch/README.md
backend_learning/Task1/node_modules/filelist/node_modules/minimatch/lib/path.js
backend_learning/Task1/node_modules/isarray/.npmignore
backend_learning/Task1/node_modules/isarray/.travis.yml
backend_learning/Task1/node_modules/isarray/component.json
backend_learning/Task1/node_modules/isarray/index.js
backend_learning/Task1/node_modules/isarray/Makefile
backend_learning/Task1/node_modules/isarray/package.json
backend_learning/Task1/node_modules/isarray/README.md
backend_learning/Task1/node_modules/isarray/test.js
backend_learning/Task1/node_modules/jake/jakefile.js
backend_learning/Task1/node_modules/jake/Makefile
backend_learning/Task1/node_modules/jake/package.json
backend_learning/Task1/node_modules/jake/README.md
backend_learning/Task1/node_modules/jake/usage.txt
backend_learning/Task1/node_modules/jake/bin/bash_completion.sh
backend_learning/Task1/node_modules/jake/bin/cli.js
backend_learning/Task1/node_modules/jake/lib/api.js
backend_learning/Task1/node_modules/jake/lib/jake.js
backend_learning/Task1/node_modules/jake/lib/loader.js
backend_learning/Task1/node_modules/jake/lib/namespace.js
backend_learning/Task1/node_modules/jake/lib/package_task.js
backend_learning/Task1/node_modules/jake/lib/parseargs.js
backend_learning/Task1/node_modules/jake/lib/program.js
backend_learning/Task1/node_modules/jake/lib/publish_task.js
backend_learning/Task1/node_modules/jake/lib/rule.js
backend_learning/Task1/node_modules/jake/lib/test_task.js
backend_learning/Task1/node_modules/jake/lib/task/directory_task.js
backend_learning/Task1/node_modules/jake/lib/task/file_task.js
backend_learning/Task1/node_modules/jake/lib/task/index.js
backend_learning/Task1/node_modules/jake/lib/task/task.js
backend_learning/Task1/node_modules/jake/lib/utils/file.js
backend_learning/Task1/node_modules/jake/lib/utils/index.js
backend_learning/Task1/node_modules/jake/lib/utils/logger.js
backend_learning/Task1/node_modules/jake/test/integration/concurrent.js
backend_learning/Task1/node_modules/jake/test/integration/file_task.js
backend_learning/Task1/node_modules/jake/test/integration/file.js
backend_learning/Task1/node_modules/jake/test/integration/helpers.js
backend_learning/Task1/node_modules/jake/test/integration/jakefile.js
backend_learning/Task1/node_modules/jake/test/integration/list_tasks.js
backend_learning/Task1/node_modules/jake/test/integration/publish_task.js
backend_learning/Task1/node_modules/jake/test/integration/rule.js
backend_learning/Task1/node_modules/jake/test/integration/selfdep.js
backend_learning/Task1/node_modules/jake/test/integration/task_base.js
backend_learning/Task1/node_modules/jake/test/integration/jakelib/concurrent.jake.js
backend_learning/Task1/node_modules/jake/test/integration/jakelib/publish.jake.js
backend_learning/Task1/node_modules/jake/test/integration/jakelib/required_module.jake.js
backend_learning/Task1/node_modules/jake/test/integration/jakelib/rule.jake.js
backend_learning/Task1/node_modules/jake/test/unit/jakefile.js
backend_learning/Task1/node_modules/jake/test/unit/namespace.js
backend_learning/Task1/node_modules/jake/test/unit/parseargs.js
backend_learning/Task1/node_modules/minimist/.eslintrc
backend_learning/Task1/node_modules/minimist/.nycrc
backend_learning/Task1/node_modules/minimist/CHANGELOG.md
backend_learning/Task1/node_modules/minimist/index.js
backend_learning/Task1/node_modules/minimist/LICENSE
backend_learning/Task1/node_modules/minimist/package.json
backend_learning/Task1/node_modules/minimist/README.md
backend_learning/Task1/node_modules/minimist/.github/FUNDING.yml
backend_learning/Task1/node_modules/minimist/example/parse.js
backend_learning/Task1/node_modules/minimist/test/all_bool.js
backend_learning/Task1/node_modules/minimist/test/bool.js
backend_learning/Task1/node_modules/minimist/test/dash.js
backend_learning/Task1/node_modules/minimist/test/default_bool.js
backend_learning/Task1/node_modules/minimist/test/dotted.js
backend_learning/Task1/node_modules/minimist/test/kv_short.js
backend_learning/Task1/node_modules/minimist/test/long.js
backend_learning/Task1/node_modules/minimist/test/num.js
backend_learning/Task1/node_modules/minimist/test/parse_modified.js
backend_learning/Task1/node_modules/minimist/test/parse.js
backend_learning/Task1/node_modules/minimist/test/proto.js
backend_learning/Task1/node_modules/minimist/test/short.js
backend_learning/Task1/node_modules/minimist/test/stop_early.js
backend_learning/Task1/node_modules/minimist/test/unknown.js
backend_learning/Task1/node_modules/minimist/test/whitespace.js
backend_learning/Task1/node_modules/mkdirp/index.js
backend_learning/Task1/node_modules/mkdirp/LICENSE
backend_learning/Task1/node_modules/mkdirp/package.json
backend_learning/Task1/node_modules/mkdirp/readme.markdown
backend_learning/Task1/node_modules/mkdirp/bin/cmd.js
backend_learning/Task1/node_modules/mkdirp/bin/usage.txt
backend_learning/Task1/node_modules/multer/index.js
backend_learning/Task1/node_modules/multer/LICENSE
backend_learning/Task1/node_modules/multer/package.json
backend_learning/Task1/node_modules/multer/README.md
backend_learning/Task1/node_modules/multer/lib/counter.js
backend_learning/Task1/node_modules/multer/lib/file-appender.js
backend_learning/Task1/node_modules/multer/lib/make-middleware.js
backend_learning/Task1/node_modules/multer/lib/multer-error.js
backend_learning/Task1/node_modules/multer/lib/remove-uploaded-files.js
backend_learning/Task1/node_modules/multer/storage/disk.js
backend_learning/Task1/node_modules/multer/storage/memory.js
backend_learning/Task1/node_modules/object-assign/index.js
backend_learning/Task1/node_modules/object-assign/license
backend_learning/Task1/node_modules/object-assign/package.json
backend_learning/Task1/node_modules/object-assign/readme.md
backend_learning/Task1/node_modules/process-nextick-args/index.js
backend_learning/Task1/node_modules/process-nextick-args/license.md
backend_learning/Task1/node_modules/process-nextick-args/package.json
backend_learning/Task1/node_modules/process-nextick-args/readme.md
backend_learning/Task1/node_modules/readable-stream/.travis.yml
backend_learning/Task1/node_modules/readable-stream/CONTRIBUTING.md
backend_learning/Task1/node_modules/readable-stream/duplex-browser.js
backend_learning/Task1/node_modules/readable-stream/duplex.js
backend_learning/Task1/node_modules/readable-stream/GOVERNANCE.md
backend_learning/Task1/node_modules/readable-stream/LICENSE
backend_learning/Task1/node_modules/readable-stream/package.json
backend_learning/Task1/node_modules/readable-stream/passthrough.js
backend_learning/Task1/node_modules/readable-stream/readable-browser.js
backend_learning/Task1/node_modules/readable-stream/readable.js
backend_learning/Task1/node_modules/readable-stream/README.md
backend_learning/Task1/node_modules/readable-stream/transform.js
backend_learning/Task1/node_modules/readable-stream/writable-browser.js
backend_learning/Task1/node_modules/readable-stream/writable.js
backend_learning/Task1/node_modules/readable-stream/doc/wg-meetings/2015-01-30.md
backend_learning/Task1/node_modules/readable-stream/lib/_stream_duplex.js
backend_learning/Task1/node_modules/readable-stream/lib/_stream_passthrough.js
backend_learning/Task1/node_modules/readable-stream/lib/_stream_readable.js
backend_learning/Task1/node_modules/readable-stream/lib/_stream_transform.js
backend_learning/Task1/node_modules/readable-stream/lib/_stream_writable.js
backend_learning/Task1/node_modules/readable-stream/lib/internal/streams/BufferList.js
backend_learning/Task1/node_modules/readable-stream/lib/internal/streams/destroy.js
backend_learning/Task1/node_modules/readable-stream/lib/internal/streams/stream-browser.js
backend_learning/Task1/node_modules/readable-stream/lib/internal/streams/stream.js
backend_learning/Task1/node_modules/readable-stream/node_modules/safe-buffer/index.d.ts
backend_learning/Task1/node_modules/readable-stream/node_modules/safe-buffer/index.js
backend_learning/Task1/node_modules/readable-stream/node_modules/safe-buffer/LICENSE
backend_learning/Task1/node_modules/readable-stream/node_modules/safe-buffer/package.json
backend_learning/Task1/node_modules/readable-stream/node_modules/safe-buffer/README.md
backend_learning/Task1/node_modules/streamsearch/.eslintrc.js
backend_learning/Task1/node_modules/streamsearch/LICENSE
backend_learning/Task1/node_modules/streamsearch/package.json
backend_learning/Task1/node_modules/streamsearch/README.md
backend_learning/Task1/node_modules/streamsearch/.github/workflows/ci.yml
backend_learning/Task1/node_modules/streamsearch/.github/workflows/lint.yml
backend_learning/Task1/node_modules/streamsearch/lib/sbmh.js
backend_learning/Task1/node_modules/streamsearch/test/test.js
backend_learning/Task1/node_modules/string_decoder/.travis.yml
backend_learning/Task1/node_modules/string_decoder/LICENSE
backend_learning/Task1/node_modules/string_decoder/package.json
backend_learning/Task1/node_modules/string_decoder/README.md
backend_learning/Task1/node_modules/string_decoder/lib/string_decoder.js
backend_learning/Task1/node_modules/string_decoder/node_modules/safe-buffer/index.d.ts
backend_learning/Task1/node_modules/string_decoder/node_modules/safe-buffer/index.js
backend_learning/Task1/node_modules/string_decoder/node_modules/safe-buffer/LICENSE
backend_learning/Task1/node_modules/string_decoder/node_modules/safe-buffer/package.json
backend_learning/Task1/node_modules/string_decoder/node_modules/safe-buffer/README.md
backend_learning/Task1/node_modules/typedarray/.travis.yml
backend_learning/Task1/node_modules/typedarray/index.js
backend_learning/Task1/node_modules/typedarray/LICENSE
backend_learning/Task1/node_modules/typedarray/package.json
backend_learning/Task1/node_modules/typedarray/readme.markdown
backend_learning/Task1/node_modules/typedarray/example/tarray.js
backend_learning/Task1/node_modules/typedarray/test/tarray.js
backend_learning/Task1/node_modules/typedarray/test/server/undef_globals.js
backend_learning/Task1/node_modules/util-deprecate/browser.js
backend_learning/Task1/node_modules/util-deprecate/History.md
backend_learning/Task1/node_modules/util-deprecate/LICENSE
backend_learning/Task1/node_modules/util-deprecate/node.js
backend_learning/Task1/node_modules/util-deprecate/package.json
backend_learning/Task1/node_modules/util-deprecate/README.md
backend_learning/Task1/node_modules/xtend/.jshintrc
backend_learning/Task1/node_modules/xtend/immutable.js
backend_learning/Task1/node_modules/xtend/LICENSE
backend_learning/Task1/node_modules/xtend/mutable.js
backend_learning/Task1/node_modules/xtend/package.json
backend_learning/Task1/node_modules/xtend/README.md
backend_learning/Task1/node_modules/xtend/test.js
backend_learning/Task1/views/home.ejs
